
.title {
  font-family: 'Century Gothic',sans-serif;
}

body {
  padding:0;
  margin:0;
  font-family: 'Roboto',sans-serif;
  background-color: #eaeaea;
}

header {
  background-color:#002157;
  height:160px;
}

#logo {
  width:300px;
  float: left;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right:60px;
}

.wrapper {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}

#nav {
  color: white;
  padding-top:68px;
  padding-bottom: 68px;
}

.nav_item {
  font-size:24px;
  margin:0 24px;
}

#photo {
  position:relative;
  width:100%;
}

#home_content {
  background-color: white;
  padding-bottom: 48px;
  padding-top:16px;
}

#foot_logo {
  height:100px;
  float: left;
  margin-left:24px;
  margin-right:24px;
}

footer {
  background-color:#002157;
  height:100px;
  padding:10px;
  color:white;
}

#footer_left {
  width: 391px;
  float: left;
  text-align: right;
}

#home_banner {
  
    width:100%;
}

#disclaimer {
  padding-left:100px;
  float: right;
  margin-top:30px;
}
#footer_right {
  padding-top:10px;
}

#subscribe {
  text-align: center;
  height:40px;
}

#email {
  border-color: #002157;
  width: 320px;
  height: 40px;
  margin-right:32px;
  vertical-align: top;
  font-size:22px;
  color: #002157;
}

#subscr_bttn {
  background-color: #002157;
  border: none;
  height: 40px;
  font-size:16px;
  color: white;
  font-family: 'Roboto',sans-serif;
  padding-left:16px;
  padding-right:16px;
  vertical-align: top;
}

.heading {
  color: white;
  font-size: 24px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left:24px;
  padding-right:24px;
}

.section {
  margin-top:32px;
  margin-bottom:16px;
}

#whohd {
  background-image:url('./images/who.png');
}

#latehd {
  background-image:url('./images/latest.png');
  text-align:right;
}

#invhd {
  background-image:url('./images/involved.png');
}

.desc {
  margin-top:24px;
  font-family: 'Roboto',sans-serif;
  margin-left:24px;
  margin-right:24px;
}

.dot {
  padding-top:10px;
  padding-bottom:4px;
}

#photo_desc {
  position:absolute;
  width:400px;
  bottom:0px;
  padding:24px;
  background-color:rgba(255,255,255,0.8);
  color:#002157;
  font-family: 'Roboto',sans-serif;
  font-size:20px;
}

#photo_desc_wrap {
  height:100%;
  width:100%;
}

.footer_item {
  color:white;
}

a:link{color:white; text-decoration:none;}
a:visited{color:white; text-decoration:none;}
a:hover{color:#d02027 ; text-decoration:none;}
a:active{color:white; text-decoration:none;}
#ss-submit {
  background-color: #002157;
  border: none;
  height: 40px;
  font-size:16px;
  color: white;
  font-family: 'Roboto',sans-serif;
  padding-left:16px;
  padding-right:16px;
  vertical-align: top;
}

#entry_1310577411 {
  border-color: #002157;
  width: 320px;
  height: 40px;
  margin:3px;
  margin-right:32px;
  vertical-align: top;
  font-size:22px;
  color: #002157;
  float:left;
}

#ss-form {
  width:444px;
  margin-left:auto;
  margin-right:auto;
}

#hidden_iframe {
  display:none;
}
